<!-- including header and footer layout using "include"-->
<!-- NO SPACE B/W INCLUDE AND LAYOUT PAGE NAME -->

<%-include("partials/header"); -%>
<h1>Welcome</h1>
<p><%=homeContent%></p>

<%  for(var i=posts.length - 1;i>=0;i--){ %>
        <h1><%=posts[i].title%></h1>
        <p>
        <%=posts[i].content.substring(0, 150) + " ..."%>
        <a href="/posts/<%=posts[i]._id%>">Read More</a>
        </p>
<%  } %>

<%-include("partials/footer"); -%>